# Used by direnv to automatically acitvate conda environment.
source activate /Users/zy/Documents/workspace/mnist-tensorflow/env

export PYTHONPATH=/Users/zy/Documents/workspace/mnist-tensorflow/lib:$PYTHONPATH

